* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(153, 36, 36);
}

.box {
    background-color: whitesmoke;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid black;

}

.intro {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    letter-spacing: 2px;
    font-weight: 100;
}

.signup {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.signup div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-labels-p {
    height: 25px;
}

.signup-inputs-item {
    border: 2px solid black;
    border-radius: 20px;
    height: 25px;
    width: 220px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.signup-inputs-item:invalid {
    box-shadow: 0 0 0.6rem red;
}

.btn {
    text-align: center;
    padding-bottom: 30px;
}

.btn-item {
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    letter-spacing: 1px;
}

.btn-item:hover {
    cursor: pointer;
    background-color: rgb(188, 75, 75);
}

.link {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.box .link a
{
    color: rgb(153, 36, 36);
}

.box .link a:hover
{
    text-decoration: none;
    color: navy;
}

html {
    --s: 100px; /* control the size */
    --c1: rgb(153, 36, 36);
    --c2: #351330;
    
    --_g: #0000 24%,
      var(--c2) 26% 34%,var(--c1) 36% 44%,
      var(--c2) 46% 54%,var(--c1) 56% 64%,
      var(--c2) 66% 74%,#0000 76%;
    background:
      radial-gradient(100% 100% at 100% 0,var(--_g)),
      radial-gradient(100% 100% at 0 100%,var(--_g)),
      radial-gradient(var(--c2) 14%,var(--c1) 16%) 
       calc(var(--s)/2) calc(var(--s)/2);
    background-size: var(--s) var(--s);
  }
  