.header
{
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(188, 188, 188);
    border-bottom: 2px solid black;
    transition: top 0.3s;
}

.header .divider
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .divider .divide a
{
    color: rgb(153, 36, 36);
    font-size: 25px;
    margin-right: 50px;
}

.header .divider .divide a:hover
{
    text-decoration: none;
    color: navy;
}

.header .divider .divide img
{
    margin-left: 20px;
    height: 100px;
}

* {
    font-family: 'Bangers', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: bisque;
}

nav ul {
    list-style: none;
    display: flex;
}
  
nav li {
    margin: 0 20px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
}
  
main {
    margin: 0 auto;
    padding: 15px;
}

.start
{
    margin-top: 100px;
}
  
h2 {
    font-size: 40px;
    background-color: rgb(245, 200, 86);
    margin-bottom: 20px;
    text-align: center;
}

img {
    display: block;
    max-width: 400px;
    word-break: break-word;
    margin: 0 auto;
}

.input-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items:end;
    font-size: 25px;
}

.input {
    width: 175px;
}

.input-item input {
    height: 20px;
}

.input-box {
    text-align: center;
    background-color:  rgb(245, 200, 86);
    width: 25%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 10px;
}

.input-item-1 {
    gap: 65px;
}

.input-item-3 {
    gap: 70px;
}

.input-item-4 {
    gap: 30px;
}

.confirm-btn {
    width: 75px;
    height: 25px;
    border: 3px solid black;
    border-radius: 13px;
    margin: 5px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
}

.confirm-btn:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.Entrees {
    text-align: center;
}

.Sides {
    text-align: center;
}

.Drinks {
    text-align: center;
}

.btn {
    display: block;
    padding: 15px 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    height: 500px;
}

.btn-entrees {
    background-image: url("https://i.pinimg.com/originals/f9/e0/d5/f9e0d537d6a106b671cdca9b0307505e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}

.btn-entrees p {
    color: whitesmoke;
    font-size: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}

.btn-entrees:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.btn-sides {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--cYfUn4iQ--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/18l00h14i1ov1jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}

.btn-sides p {
    color: whitesmoke;
    font-size: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}

.btn-sides:hover {
    cursor: pointer;
    filter: brightness(100%);
}


.btn-drinks {
    background-image: url("https://thebusybaker.ca/wp-content/uploads/2018/04/healthy-3-ingredient-lemonade-fbig1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}

.btn-drinks p {
    color: whitesmoke;
    font-size: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}

.btn-drinks:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.item-name-entree {
    background-color: rgb(245, 200, 86);
    font-size: 40px;
    letter-spacing: 2px;
    width: 900px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.item-description-entree {
    padding: 10px;
    font-size: 20px;
}

.item-price-entree {
    padding: 10px;
    font-size: 20px;
}

.item-name-side {
    background-color: rgb(245, 200, 86);
    font-size: 40px;
    letter-spacing: 2px;
    width: 900px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.item-description-side {
    padding: 10px;
    font-size: 20px;
}

.item-price-side {
    padding: 10px;
    font-size: 20px;
}

.item-name-drink {
    background-color: rgb(245, 200, 86);
    font-size: 40px;
    letter-spacing: 2px;
    width: 900px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.item-description-drink {
    padding: 10px;
    font-size: 20px;
}

.item-price-drink {
    padding: 10px;
    font-size: 20px;
}

#menu h2
{
    margin-top: 100px;
    font-size: 60px;
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px #FFFFFF;
}

h2 {
    padding: 30px;
    font-size: 40px;
    background-color: rgb(245, 200, 86);
    text-align: center;
}

#AddItemBtnEntree {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

#AddItemBtnEntree:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

#AddItemBtnSides {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

#AddItemBtnSides:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

#AddItemBtnDrinks {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

#AddItemBtnDrinks:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.managePrice-entree {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.managePrice-entree:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.remove-entree {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.remove-entree:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.managePrice-side {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.managePrice-side:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.remove-side {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.remove-side:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.managePrice-drink {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.managePrice-drink:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.remove-drink {
    font-size: 20px;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(153, 36, 36);
    color: whitesmoke;
    border: 3px solid black;
}

.remove-drink:hover {
    cursor: pointer;
    background-color: rgb(209, 84, 84);
}

.header .divider .divide .mainThing
{
    margin-right: 440px;
}